PASSED [100%]﻿<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>通知公告-上海大学</title><meta name="pageType" content="2">
<meta name="pageTitle" content="通知公告">
<META Name="keywords" Content="上海大学" />

    <meta name="description" content="上海大学" />

    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="address=no" />
    <meta name="format-detection" content="date=no" />
    <link rel="stylesheet" type="text/css" href="css/font_3527522_iifedk0bnrl.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.compat.css" />
    <link rel="stylesheet" type="text/css" href="family/font.css" />
    <link rel="stylesheet" type="text/css" href="css/slick.css" />
    <link rel="stylesheet" type="text/css" href="css/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="css/f.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/base.css" />
    <link rel="stylesheet" type="text/css" href="css/mystyle.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />

    <link rel="stylesheet" href="css/ejy-style.css">
    <link rel="stylesheet" href="css/ejy-style_zj.css">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/set.js"></script>

<!--Announced by Visual SiteBuilder 9-->
<link rel="stylesheet" type="text/css" href="_sitegray/_sitegray_d.css" />
<script language="javascript" src="_sitegray/_sitegray.js"></script>
<!-- CustomerNO:77656262657232307468475d53575742000200034554 -->
<link rel="stylesheet" type="text/css" href="list.vsb.css" />
<script type="text/javascript" src="/system/resource/js/counter.js"></script>
<script type="text/javascript">_jsq_(1051,'/list.jsp',-1,1864855249)</script>
</head>

<body class="ejy">
    <script type="text/javascript" src="js/noie.js"></script>
    <style type="text/css">

    </style>

    <div class="loader flex-v-center">
        <div class="fadeLoading"><span></span><span></span><span></span><span></span><span></span></div>
    </div>


    <div class="header ">
        <div class="wp flex pore">

            <div class="logo flex-v-center">

<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="index.htm"><img src="images/logo.svg"></a>
            </div>
            <div class="hd-r ">
                <div class="hdr-t flex-right">
                    <div class=" hdr-ts mobCopy flex">
                        <div class="btn-link flex-center">


                            <div class="links flex">
                                <script language="javascript" src="/system/resource/js/dynclicks.js"></script><script language="javascript" src="/system/resource/js/openlink.js"></script><div class="quickUrl pore">欢迎<i class="swiper-icons swi-downb"></i>
    <div class="quickSub">
        <a href="fk.htm" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87150)" target="_blank">访客</a>
        <a href="xs.htm" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87151)" target="_blank">学生</a>
        <a href="js.htm" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87152)" target="_blank">教师</a>
        <a href="https://bkzsw.shu.edu.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87153)" target="_blank">考生</a>
        <a href="https://alumni.shu.edu.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87240)" target="_blank">校友</a>
    </div>
</div>
                                        <a href="http://en.shu.edu.cn/" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87154)" target="_blank">English</a>
<a href="javascript:void(0);" id="gt_btn" */ style="/* display:none;">开启辅助工具</a>
<script src="https://tts.gtkj.tech/rt/shu.edu.cn/gtInit.js" charset="UTF-8"></script>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="flex hd-nav ">
        <li>
<a href="xxgk/xxjj.htm" target="_blank" target="_blank">学校概况</a>
        <div class="sub-nav ">
            <div class="sub-nav-h ">
                <a href="xxgk/xxjj.htm">学校简介</a>
                <a href="xxgk/sdxs2.htm">上大校史</a>
                <a href="xxgk/xxjg.htm">学校机构</a>
                <a href="xxgk/xrld.htm">现任领导</a>
                <a href="xxgk/lrld.htm">历任领导</a>
                <a href="xxgk/sdwh.htm">上大文化</a>
                <a href="xxgk/sdzc.htm">上大章程</a>
                <a href="xyfj/bsxq.htm">校园风景</a>
            </div>
        </div>
    </li>
    <li>
<a href="zsjy.htm" target="_blank" target="_blank">招生就业</a>
        <div class="sub-nav ">
            <div class="sub-nav-h ">
                <a href="https://bkzsw.shu.edu.cn/">本科生招生</a>
                <a href="https://yjszs.shu.edu.cn/">研究生招生</a>
                <a href="https://apply.shu.edu.cn/">留学生招生</a>
                <a href="https://cce.shu.edu.cn/">继续教育</a>
                <a href="https://zbb.shu.edu.cn/">就业信息服务网</a>
            </div>
        </div>
    </li>
    <li>
<a href="yxsz.htm" target="_blank" target="_blank">院系设置</a>
    </li>
    <li>
<a href="sdsy/sdsygk.htm" target="_blank" target="_blank">上大书院</a>
        <div class="sub-nav ">
            <div class="sub-nav-h ">
                <a href="sdsy/sdsygk.htm">上大书院概况</a>
                <a href="sdsy/wcsy.htm">伟长书院</a>
                <a href="sdsy/qbsy.htm">秋白书院</a>
                <a href="sdsy/hjsy.htm">宏嘉书院</a>
                <a href="sdsy/qysy.htm">青云书院</a>
                <a href="sdsy/pcsy.htm">泮池书院</a>
                <a href="sdsy/whsy.htm">文荟书院</a>
                <a href="sdsy/rxsy.htm">日新书院</a>
                <a href="sdsy/hysy.htm">闳约书院</a>
                <a href="sdsy/zqsy.htm">自强书院</a>
                <a href="sdsy/slsy1.htm">尚理书院</a>
                <a href="sdsy/swsy.htm">溯微书院</a>
                <a href="sdsy/slsy.htm">丝路书院</a>
                <a href="sdsy/syglzx.htm">书院管理中心</a>
            </div>
        </div>
    </li>
    <li>
<a href="jyjx.htm" target="_blank" target="_blank">教育教学</a>
        <div class="sub-nav ">
            <div class="sub-nav-h ">
                <a href="https://jwb.shu.edu.cn" target="_blank">教务部</a>
                <a href="https://gs.shu.edu.cn/" target="_blank">研究生院</a>
                <a href="http://www.issc.shu.edu.cn/" target="_blank">留学生</a>
                <a href="https://cce.shu.edu.cn/" target="_blank">继续教育</a>
                <a href="http://swuni.shec.edu.cn/" target="_blank">西南片联合办学</a>
                <a href="https://learning.shu.edu.cn/portal" target="_blank">网上教学</a>
                <a href="https://oiqa.shu.edu.cn/" target="_blank">教育质量考察与评估办公室</a>
                <a href="https://metc.shu.edu.cn/" target="_blank">现代教育技术中心</a>
                <a href="#" target="_blank">人才学院</a>
                <a href="https://lib.shu.edu.cn/" target="_blank">图书馆</a>
                <a href="https://shpg2023.shu.edu.cn">本科教育教学审核评估</a>
            </div>
        </div>
    </li>
    <li>
<a href="kxyj.htm" target="_blank" target="_blank">科学研究</a>
        <div class="sub-nav ">
            <div class="sub-nav-h ">
                <a href="kxyj.htm#sdky">上大科研</a>
                <a href="kxyj.htm#kyjg">科研机构</a>
                <a href="https://lab.shu.edu.cn/" target="_blank">大仪共享</a>
            </div>
        </div>
    </li>
    <li>
<a href="ljrw/lyys.htm" target="_blank" target="_blank">领军人物</a>
        <div class="sub-nav ">
            <div class="sub-nav-h ">
                <a href="ljrw/lyys.htm">两院院士</a>
                <a href="ljrw/gjjjxms.htm">国家级教学名师</a>
            </div>
        </div>
    </li>
    <li>
<a href="https://global.shu.edu.cn/" target="_blank" target="_blank">合作交流</a>
    </li>
    <li>
<a href="xysheng_huo.htm" target="_blank" target="_blank">校园生活</a>
        <div class="sub-nav ">
            <div class="sub-nav-h ">
                <a href="xysheng_huo.htm#1F">服务指南</a>
                <a href="xysheng_huo.htm#2F">信息服务</a>
                <a href="xysheng_huo.htm#3F">校园文化</a>
            </div>
        </div>
    </li>
    <li>
<a href="https://news.shu.edu.cn/" target="_blank" target="_blank">新闻中心</a>
    </li>
    <li>
    <a style="cursor:text;">网上教学</a>
        <div class="sub-nav ">
            <div class="sub-nav-h ">
                <a href="https://learning.shu.edu.cn/portal" target="_blank">本科生在线教学</a>
                <a href="http://shuyjs.fanya.chaoxing.com/portal" target="_blank">研究生在线教学</a>
                <a href="http://www.icce.shu.edu.cn/" target="_blank">继续教育在线教学</a>
            </div>
        </div>
    </li>
</ul>
            </div>
        </div>
    </div>
    <!-- 移动端头部s -->
    <div class="headerm flex">
        <div class="logo zi3 flex-v-center">

<!-- 网站logo图片地址请在本组件"内容配置-网站logo"处填写 -->
<a href="index.htm"><img src="images/logo.svg"></a>
        </div>
        <a href="javascript:;" class="navbtnm"><i class="swiper-icons swi-caidan"></i></a>
    </div>

    <div class="big-nav">
        <div class="scroll">
            <ul class="flex">
        <li>
        <h2><a href="index.htm">首页</a></h2>
    </li>
    <li>
        <h2><a href="xxgk/xxjj.htm">学校概况</a></h2>
        <div class="list">
            <h3><a href="xxgk/xxjj.htm">学校简介</a></h3>
            <h3><a href="xxgk/sdxs2.htm">上大校史</a></h3>
            <h3><a href="xxgk/xxjg.htm">学校机构</a></h3>
            <h3><a href="xxgk/xrld.htm">现任领导</a></h3>
            <h3><a href="xxgk/lrld.htm">历任领导</a></h3>
            <h3><a href="xxgk/sdwh.htm">上大文化</a></h3>
            <h3><a href="xxgk/sdzc.htm">上大章程</a></h3>
            <h3><a href="xyfj/bsxq.htm">校园风景</a></h3>
        </div>
    </li>
    <li>
        <h2><a href="zsjy.htm">招生就业</a></h2>
        <div class="list">
            <h3><a href="https://bkzsw.shu.edu.cn/">本科生招生</a></h3>
            <h3><a href="https://yjszs.shu.edu.cn/">研究生招生</a></h3>
            <h3><a href="https://apply.shu.edu.cn/">留学生招生</a></h3>
            <h3><a href="https://cce.shu.edu.cn/">继续教育</a></h3>
            <h3><a href="https://zbb.shu.edu.cn/">就业信息服务网</a></h3>
        </div>
    </li>
    <li>
        <h2><a href="yxsz.htm">院系设置</a></h2>
    </li>
    <li>
        <h2><a href="sdsy/sdsygk.htm">上大书院</a></h2>
        <div class="list">
            <h3><a href="sdsy/sdsygk.htm">上大书院概况</a></h3>
            <h3><a href="sdsy/wcsy.htm">伟长书院</a></h3>
            <h3><a href="sdsy/qbsy.htm">秋白书院</a></h3>
            <h3><a href="sdsy/hjsy.htm">宏嘉书院</a></h3>
            <h3><a href="sdsy/qysy.htm">青云书院</a></h3>
            <h3><a href="sdsy/pcsy.htm">泮池书院</a></h3>
            <h3><a href="sdsy/whsy.htm">文荟书院</a></h3>
            <h3><a href="sdsy/rxsy.htm">日新书院</a></h3>
            <h3><a href="sdsy/hysy.htm">闳约书院</a></h3>
            <h3><a href="sdsy/zqsy.htm">自强书院</a></h3>
            <h3><a href="sdsy/slsy1.htm">尚理书院</a></h3>
            <h3><a href="sdsy/swsy.htm">溯微书院</a></h3>
            <h3><a href="sdsy/slsy.htm">丝路书院</a></h3>
            <h3><a href="sdsy/syglzx.htm">书院管理中心</a></h3>
        </div>
    </li>
    <li>
        <h2><a href="jyjx.htm">教育教学</a></h2>
        <div class="list">
            <h3><a href="https://jwb.shu.edu.cn">教务部</a></h3>
            <h3><a href="https://gs.shu.edu.cn/">研究生院</a></h3>
            <h3><a href="http://www.issc.shu.edu.cn/">留学生</a></h3>
            <h3><a href="https://cce.shu.edu.cn/">继续教育</a></h3>
            <h3><a href="http://swuni.shec.edu.cn/">西南片联合办学</a></h3>
            <h3><a href="https://learning.shu.edu.cn/portal">网上教学</a></h3>
            <h3><a href="https://oiqa.shu.edu.cn/">教育质量考察与评估办公室</a></h3>
            <h3><a href="https://metc.shu.edu.cn/">现代教育技术中心</a></h3>
            <h3><a href="#">人才学院</a></h3>
            <h3><a href="https://lib.shu.edu.cn/">图书馆</a></h3>
            <h3><a href="https://shpg2023.shu.edu.cn">本科教育教学审核评估</a></h3>
        </div>
    </li>
    <li>
        <h2><a href="kxyj.htm">科学研究</a></h2>
        <div class="list">
            <h3><a href="kxyj.htm#sdky">上大科研</a></h3>
            <h3><a href="kxyj.htm#kyjg">科研机构</a></h3>
            <h3><a href="https://lab.shu.edu.cn/">大仪共享</a></h3>
        </div>
    </li>
    <li>
        <h2><a href="ljrw/lyys.htm">领军人物</a></h2>
        <div class="list">
            <h3><a href="ljrw/lyys.htm">两院院士</a></h3>
            <h3><a href="ljrw/gjjjxms.htm">国家级教学名师</a></h3>
        </div>
    </li>
    <li>
        <h2><a href="https://global.shu.edu.cn/">合作交流</a></h2>
    </li>
    <li>
        <h2><a href="xysheng_huo.htm">校园生活</a></h2>
        <div class="list">
            <h3><a href="xysheng_huo.htm#1F">服务指南</a></h3>
            <h3><a href="xysheng_huo.htm#2F">信息服务</a></h3>
            <h3><a href="xysheng_huo.htm#3F">校园文化</a></h3>
        </div>
    </li>
    <li>
        <h2><a href="https://news.shu.edu.cn/">新闻中心</a></h2>
    </li>
    <li>
        <h2><a href="javascript:void(0)">网上教学</a></h2>
        <div class="list">
            <h3><a href="https://learning.shu.edu.cn/portal">本科生在线教学</a></h3>
            <h3><a href="http://shuyjs.fanya.chaoxing.com/portal">研究生在线教学</a></h3>
            <h3><a href="http://www.icce.shu.edu.cn/">继续教育在线教学</a></h3>
        </div>
    </li>
    <li>
        <h2><a href="bydl.htm">2024毕业典礼点播</a></h2>
    </li>
    <li>
        <h2><a href="kxdl.htm">2024开学典礼点播</a></h2>
    </li>
    <li>
        <h2><a href="yxwhdb.htm">2024迎新晚会点播</a></h2>
    </li>
</ul>
        </div>
        <div class="btn-list1 flex-center">
            <div class="btn-link flex-center">
                <div class="links flex"><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87243)" href="fk.htm">访客</a>
<a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87245)" href="xs.htm">学生</a>
<a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87242)" href="js.htm">教师</a>
<a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87244)" href="https://bkzsw.shu.edu.cn/">考生</a>
<a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87246)" href="https://alumni.shu.edu.cn/">校友</a>
<a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87247)" href="https://jobs.shu.edu.cn">招聘</a>
<a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87248)" href="http://en.shu.edu.cn/">English</a>
<a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 88057)" href="https://eportal.shu.edu.cn/">一网通办</a>
</div>
            </div>


        </div>



<script language="javascript" src="/system/resource/js/base64.js"></script><script language="javascript" src="/system/resource/vue/vue.js"></script><script language="javascript" src="/system/resource/vue/bluebird.min.js"></script><script language="javascript" src="/system/resource/vue/axios.js"></script><script language="javascript" src="/system/resource/vue/polyfill.js"></script><script language="javascript" src="/system/resource/vue/token.js"></script><LINK href="/system/resource/vue/static/element/index.css" type="text/css" rel="stylesheet"><script language="javascript" src="/system/resource/vue/static/element/index.js"></script><script language="javascript" src="/system/resource/vue/static/public.js"></script><div id="divu7"></div>
<script type="text/html" id="htmlu7">
    <div id="appu7">
        <div v-if="!isError">
            <div class="search pore">
                <div class="form">
                    <div class="serinp"><input type="text" class="inp" placeholder="上大搜索" autocomplete="off" v-model="query.keyWord" @keyup.enter="onSubmit"></div>
                    <div class="serbtn"><i class="swiper-icons swi-sousuo"></i><input type="button" class="sub" value="" v-on:click="onSubmit()"></div>
                </div>
            </div>
        </div>
        <div v-if="isError" style="color: #b30216; font-size:18px;text-align: center;padding:20px;">
            应用维护中！
        </div>
    </div>
</script>
<script>
    $("#divu7").html($("#htmlu7").text());
</script>
<script>
    var appOwner = "1864855249";
    var token = gettoken(10);
    var urlPrefix = "/aop_component/";

    jQuery.support.cors = true;
    $.ajaxSetup({
        beforeSend: function (request, settings) {
            request.setRequestHeader("Authorization", token);
            request.setRequestHeader("owner", appOwner);
        }
    });

    new Vue({
        el: "#appu7",
        data: function () {
            return {
                query: {
                    keyWord: "",//搜索关键词
                    owner: appOwner,
                    token: token,
                    urlPrefix: urlPrefix,
                    lang:"i18n_zh_CN"
                },
                isError: false
            }
        },
        mounted: function () {
            var _this = this;
            // _this.init();
        },
        methods: {
            init: function(){
                $.ajax({
                    url: "/aop_component//webber/search/test",
                    type: "get",
                    success: function (response) {
                        if (response.code == "0000") {
                        } else if (response.code == "220") {
                            _this.isError = true;
                            console.log(response);
                        } else if (!response.code) {
                            _this.isError = true;
                            console.log(response);
                        }
                    },
                    error: function (response) {
                        _this.isError = true;
                    }
                });
            },
            onSubmit: function (e) {
                var url = "/views/search/modules/resultpcall/soso.html";
                if ("10" == "1" || "10" == "2") {
                    url = "https://2022openlab.shu.edu.cn/" + url;
                }
                var _this = this;
                var query = _this.query;
                if (url.indexOf("?") > -1) {
                    url = url.split("?")[0];
                }
                if (query.keyWord) {
                    var query = new Base64().encode(JSON.stringify(query));
                    window.open(url + "?query=" + query);
                } else {
                    alert("请填写搜索内容")
                }
            },
        }
    })
</script>
    </div>

    <!-- 移动端头部e -->
    <div class="banner_ej">
        <div class="w1400">
            <div>
                <h2>
通知公告</h2>
                <div class="dqwz"><img src="images/ejy/dqwz.png" alt="">&nbsp;
        <a href="index.htm">首页</a>
        &nbsp;/&nbsp;
        <a href="tzgg.htm">通知公告</a>
</div>
            </div>
        </div>
    </div>
<style type="text/css">
.banner_ej{
    background-image: url(images/ejy/bn_dt2_ljrw.jpg);}
</style>




    <div class="ej_main"><script language="javascript" src="/system/resource/js/centerCutImg.js"></script><script language="javascript" src="/system/resource/js/ajax.js"></script><div class="w1400">
    <div class="list">
        <ul>
                        <li>
                <a href="info/1051/371945.htm" target="_blank">
                    <p class="bt">关于全面加强2025年春季爱国卫生运动的通知</p>
                    <p class="line"></p>
                    <p class="zy">校内各单位：为深入贯彻落实习近平总书记关于爱国卫生运动的系列重要指示批示精神，实施《上海市爱国卫生与健康促进条例》，全面落实市委、市政府工作部署，按照市爱国卫生运动委员会工作要求，学校爱国卫生运动委员会（以下简称校爱卫会）决定于2025年4月上旬至5月底，在全校开展以“爱卫新篇章，健康‘心’生活”为主题的春季爱国卫生专项行动暨第37个爱国卫生月活动。现将有关要求通知如下：一、总体目标全面落实市爱卫会工...</p>
                    <p class="sj">2025.04.21</p>
                </a>
            </li>
            <li>
                <a href="info/1051/369125.htm" target="_blank">
                    <p class="bt">关于2025年清明节、劳动节、端午节放假安排的通知</p>
                    <p class="line"></p>
                    <p class="zy">校内各单位：根据《国务院办公厅关于2025年部分节假日安排的通知》（国办发明电〔2024〕12号）精神，结合学校工作实际，经学校研究，现将2025年清明节、劳动节、端午节放假安排通知如下：一、2025年清明节放假共三天（4月4日至4月6日），与周末连休，4月4日（周五）的课程不补。劳动节放假调休共五天（5月1日至5月5日），4月27日（周日）补5月5日（星期一）的课程。端午节放假共三天（5月31日至6月2日），与周末连休，6月2日（...</p>
                    <p class="sj">2025.03.17</p>
                </a>
            </li>
            <li>
                <a href="info/1051/366425.htm" target="_blank">
                    <p class="bt">学期制优化改革意见建议征集反馈汇总</p>
                    <p class="line"></p>
                    <p class="zy">学期制优化改革正在推进，大家有意见建议可通过点击这里或上海大学企业微信工作台中“学期制优化改革建议”提交。具体政策文件请点击查看。Q1、学期制优化改革的背景和原则是什么？A：学期制优化改革是在党的教育方针的指导下，贯彻落实我校人才培养的理念和目标，深化钱伟长教育理念，应对人工智能时代高质量教育的新要求，全面推进教学、科研与内部管理体制机制改革，全面提升人才自主培养能力的重要举措。通过新学期制的实施，优化课程结构，...</p>
                    <p class="sj">2025.02.12</p>
                </a>
            </li>
            <li>
                <a href="info/1051/364115.htm" target="_blank">
                    <p class="bt">关于2025年元旦放假和2024-2025学年寒假安排的通知</p>
                    <p class="line"></p>
                    <p class="zy">校内各单位：根据《国务院办公厅关于2025年部分节假日安排的通知》（国办发明电〔2024〕12号），现将我校2025年元旦放假和2024-2025学年寒假安排通知如下：一、2025年元旦放假1天，1月1日（周三）课程不补，请任课教师自行调整课程进度，确保教学质量。二、本科生寒假从2025年1月13日（星期一）开始至2月16日（星期日）结束；研究生假期由导师根据科研工作需要具体安排。全体学生于2月17日（星期一）正式上课。三、教职工假期从...</p>
                    <p class="sj">2024.12.23</p>
                </a>
            </li>
            <li>
                <a href="info/1051/363615.htm" target="_blank">
                    <p class="bt">关于研究生招生考试期间宝山校区实行临时管控的通知</p>
                    <p class="line"></p>
                    <p class="zy">校内各单位：为保证2025年全国硕士研究生招生考试的顺利进行，12月21日-22日，宝山校区暂停对外开放，校外人员禁止进校，确因工作需要，可通过访客系统提前预约；考区A-D、AJ-DJ楼域实行封闭管理，无关人员请遵守现场保安队员的指挥，非必要不能进入考区。敬请理解和配合。特此通知。研究生院保卫处2024年12月17</p>
                    <p class="sj">2024.12.18</p>
                </a>
            </li>
        </ul>
        <div class="pagebar"><span class="p_pages"><span class="p_first_d p_fun_d">首页</span><span class="p_prev_d p_fun_d">上页</span><span class="p_no_d">1</span><span class="p_no"><a href="tzgg/120.htm">2</a></span><span class="p_no"><a href="tzgg/119.htm">3</a></span><span class="p_no"><a href="tzgg/118.htm">4</a></span><span class="p_no"><a href="tzgg/117.htm">5</a></span><span class="p_dot">...</span><span class="p_no"><a href="tzgg/1.htm">121</a></span><span class="p_next p_fun"><a href="tzgg/120.htm">下页</a></span><span class="p_last p_fun"><a href="tzgg/1.htm">尾页</a></span></span></div>
    </div>
</div><script>_showDynClickBatch(['dynclicks_u11_371945','dynclicks_u11_369125','dynclicks_u11_366425','dynclicks_u11_364115','dynclicks_u11_363615'],[371945,369125,366425,364115,363615],"wbnews", 1864855249)</script></div>


    <div class="footer ">
        <div class="wp zi3 ">
            <div class="fta flex ">
                <div class="aleft item ">
                    <div class="logoft ">
                                    <a href="index.htm" onclick="_addDynClicks(&#34;wbimage&#34;, 1864855249, 72045)">
            <img src="images/ejy/ej_foot_logo.png">
        </a>

                    </div>
                    <div class="infoft "><script language="javascript" src="/system/resource/js/news/mp4video.js"></script>
<p><span>地址：上海市宝山区上大路99号</span></p>
<p><span>邮编：200444 </span><span>电话总机：021-96928188</span></p></div>
                </div>
                <div class="amid item ">
                    <h4>快速链接</h4>
<ul class="flex-left ">
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87189)" href="https://news.shu.edu.cn/">上海大学新闻网</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87190)" href="https://xxgk.shu.edu.cn/">信息公开</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87191)" href="https://jobs.shu.edu.cn">招聘信息</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87192)" href="https://wmzx.shu.edu.cn/">文明校园创建</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87795)" href="http://shdx.ihwrm.com">校报电子版</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87193)" href="https://iglobal.shu.edu.cn/shanghai_ghc/overseas_student.do">海外学习与实习</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87194)" href="https://fxl.shu.edu.cn/recruit/front">非学历教育</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 88074)" href="https://czb.shu.edu.cn/">招标信息</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87197)" href="http://alumni.shu.edu.cn/">校友会</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87198)" href="https://shuedf.shu.edu.cn/">教育发展基金会</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87199)" href="https://xyy.shu.edu.cn">校医院</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87200)" href="wlaqxts.htm">网络安全小贴士</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87201)" href="mailto:xiaozhang@shu.edu.cn">校长信箱</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 87195)" href="https://map.shu.edu.cn/">校园地图</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 88234)" href="bydldb.htm">毕业典礼点播</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 88362)" href="info/4023/316705.htm" style="color:red;">网络安全知识宣传手册</a></li>
    <li><a target="_blank" onclick="_addDynClicks(&#34;wburl&#34;, 1864855249, 89249)" href="https://www.shu.edu.cn/info/1051/366425.htm">学期制优化改革</a></li>
</ul>
                </div>
                <div class="aright item ">    <h4>扫码关注</h4>
<ul class="flex">
    <li><a href="javascript:void(0);" onclick="_addDynClicks(&#34;wbimage&#34;, 1864855249, 72002)"><i class="iconfont icon-huafei"></i>
            <p>官方主页</p><span><img src="images/eee.png" alt=" "></span>
        </a></li>
    <li><a href="javascript:void(0);" onclick="_addDynClicks(&#34;wbimage&#34;, 1864855249, 72003)"><i class="swiper-icons swi-sina"></i>
            <p>微博</p><span><img src="images/weibo.jpg" alt=" "></span>
        </a></li>
    <li><a href="javascript:void(0);" onclick="_addDynClicks(&#34;wbimage&#34;, 1864855249, 72004)"><i class="swiper-icons swi-weixin"></i>
            <p>微信</p><span><img src="images/weixin.jpg" alt=" "></span>
        </a></li>
    <li><a href="javascript:void(0);" onclick="_addDynClicks(&#34;wbimage&#34;, 1864855249, 72005)"><i class="iconfont icon-xinxi3"></i>
            <p>信息门户</p><span><img src="images/mh.jpg" alt=" "></span>
        </a></li>
</ul></div>
            </div>
            <div class="ftb flex-left "><!-- 版权内容请在本组件"内容配置-版权"处填写 -->
<p><span><a href="http://bszs.conac.cn/sitename?method=show&id=3391D1150963066CE053022819ACEB0B" target="_blank"><img src="images/FC847247D2950B1470DD97923AF_49DF2FD5_903.png" alt="" /></a></span><span><a href="http://www.shjbzx.cn/" target="_blank"><img src="images/41.png" alt="" /></a></span></p><p><span>版权所有 © 上海大学</span> <span><a href="https://beian.miit.gov.cn/" target="_blank">沪ICP备09014157</a></span> <span><a href="dhcx.htm" target="_self" textvalue="校内电话查询 ">校内电话查询</a></span> <span><a href="http://www.shjbzx.cn/">互联网违法和不良信息举报</a></span> <a href="dhcx.htm" target="_blank" textvalue="举报电话"><span>举报电话</span></a> <span><a href="mailto:info@shu.edu.cn">举报邮箱</a></span> <span><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31009102000049" target="_blank">沪公网安备31009102000049号</a></span></p></div>
        </div>
    </div>


    <script type="text/javascript" src="js/ejy_style.js"></script>


    <script type="text/javascript " src="js/waypoints.js"></script>
    <script type="text/javascript " src="js/countup.js"></script>
    <script type="text/javascript " src="js/f.js"></script>
    <script type="text/javascript " src="js/lib5.js"></script>
    <script type="text/javascript " src="js/particles.js"></script>
    <script type="text/javascript " src="js/u.js"></script>
    <script type="text/javascript " src="js/public.js"></script>



    <script type="text/javascript " src="js/isScroll.js"></script>
    <script type="text/javascript " src="js/swiper-bundle.min.js"></script>
    <script type="text/javascript " src="js/silck.js"></script>
    <script type="text/javascript " src="js/SuperSlide.js"></script>
    <script type="text/javascript " src="js/jquery.countup.min.js"></script>
    <script type="text/javascript " src="js/jquery.waypoints.min.js"></script>
    <script type="text/javascript ">




    </script>
</body>

</html>

